.card {
  background: #fff;
  flex: 1 1;
  max-width: 800px;
  width: 100%;
  margin: 1rem;
  flex-basis: 530px;
}

.card img {
  width: 100%;
  height: auto;
}

@media screen and (max-width: 768px) {
  .card {
    max-width: 100%;
    margin: 1rem 0;
  }
}
